@import "tailwindcss";
/* .container.active .form-box.login {
  transform: translateX(-100%);
}

.container.active .form-box.register {
  transform: translateX(0%);
}

.container.active .toggle-panel.toggle-left {
  transform: translateX(-100%);
}

.container.active .toggle-panel.toggle-right {
  transform: translateX(0%);
} */